.text {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
  color: var(--text-color);

  &--italic {
    font-style: italic;
  }

  &--bold {
    font-weight: 700;
  }

  &--thin {
    font-weight: 300;
  }

  &--small {
    font-size: 0.875rem;
  }

  &--x-small {
    font-size: 0.75rem;
  }

  &--xx-small {
    font-size: 0.625rem;
  }

  &--grey {
    color: var(--color-dark-grey);
  }

  &--white {
    color: var(--color-white);
  }
}
