.text {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
  color: var(--text-color);

  &--bold {
    font-weight: 700;
  }

  &--black {
    color: var(--color-black);
  }

  &--small {
    font-size: 0.875rem;
  }

  &--meta {
    font-size: 0.65rem;
    color: #ccc;
  }

  &--x-small {
    font-size: 0.65rem;
  }
}
