.formfield {
  display: flex;
  flex-wrap: wrap;

  &__label {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
    color: var(--primary-text-color);
    width: 100%;
  }

  &__description {
    font-size: 12px;
    color: var(--quaternary-text-color);
  }

  &__error {
    font-size: 12px;
    font-style: italic;
    color: var(--quaternary-text-color);
  }

  &__control {
    padding: var(--S-spacer);
    height: 56px;
    width: 100%;
    border: 1px solid var(--wireframe-btn-background-color);
    border-radius: var(--border-radius);

    color: var(--primary-text-color);
    background-color: var(--color-white);

    &_group {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      input[type="number"] {
        flex: 0.5;
        text-align: center;
        min-width: 0;
        max-width: 3.5rem;
      }

      input[type="number"],
      select {
        padding: var(--S-spacer);
        height: 56px;
        border: 1px solid var(--wireframe-btn-background-color);
        border-radius: var(--border-radius);

        color: var(--primary-text-color);
        background-color: var(--color-white);
      }

      span {
        margin: 0 var(--S-spacer);
        text-align: center;
      }

      select {
        flex: 2;
      }
    }
  }
}

.form {
  &__label {
    display: flex;
    align-items: center;
    gap: var(--XS-spacer);
    font-weight: bold;

    font-size: 14px;
    color: var(--primary-text-color);

    svg {
      width: 20px;
      height: auto;
    }
  }

  &__select,
  &__input_text {
    padding: var(--S-spacer);
    height: 56px;
    width: 100%;
    border: 1px solid var(--wireframe-btn-background-color);
    border-radius: var(--border-radius);

    color: var(--primary-text-color);
    background-color: var(--color-white);
  }

  &__description {
    padding-bottom: var(--S-spacer);

    font-size: 14px;
    font-style: italic;
    color: var(--quaternary-text-color);
  }

  &__wrapper {
    display: grid;
  }

  &__sub_wrapper {
    display: none;
  }

  &__input_text {
    padding: var(--S-spacer);

    height: 56px;
    border: 1px solid var(--wireframe-btn-background-color);
    border-radius: var(--border-radius);

    color: var(--primary-text-color);
    background-color: var(--color-white);
  }

  &__invalid {
    span {
      color: var(--color-red);

      &::before {
        content: "⚠ ";
        margin-right: 0.1em;
      }
    }

    input {
      border: 1px solid var(--color-red);
    }
  }
}
