.plantswitcher {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &__footer {
    color: var(--color-black);
    background-color: var(--color-white);
    display: grid;
    grid-template-areas: "old new" "cta cta";
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: var(--S-spacer);
    position: fixed;
    inset: auto 0 0 0;
    width: 100%;
    padding: 1rem;

    &-card {
      display: grid;
      grid-template-rows: 1fr auto;
      align-items: flex-end;
      gap: 4px;
      height: fit-content;

      &--old {
        grid-area: old;
        grid-template-areas: "img title icon" "img text icon";
        grid-template-columns: 3rem 1fr auto;
      }

      &--new {
        grid-area: new;
        grid-template-areas: "img title" "img text";
        grid-template-columns: 3rem auto;
      }

      &-img {
        border-radius: 4px;
        grid-area: img;
        width: 3rem;
        height: 3rem;
        aspect-ratio: 1/1;
        object-fit: cover;

        &--none {
          border: 1px dashed #afaeae;
        }
      }

      &-icon {
        grid-area: icon;
        width: 2rem;
        height: 2rem;
        border: 1px solid var(--color-grey);
        border-radius: 50%;
        display: grid;
        place-content: center;
      }

      &-title {
        grid-area: title;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }

      &-text {
        grid-area: text;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        height: 1lh;
        font-size: 0.75rem;
      }
    }
    &-cta {
      grid-area: cta;
      display: flex;
      justify-self: flex-end;
    }
  }
}
