.button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: var(--S-spacer);
  background-color: var(--color-blue);
  // box-shadow: 0px 4px 4px
  //   color-mix(in srgb, var(--color-black) 70%, transparent);
  padding: 1rem 1.5rem;
  border-radius: 4em;
  border: none;
  width: fit-content;
  //   font-weight: bold;
  font-size: 0.875rem;
  cursor: pointer;
  font-family: inherit;
  position: relative;
  transition: var(--transition-settings);

  &:hover,
  &:active,
  &:target,
  &:focus-visible {
    background: var(--color-blue-dark);
  }

  svg {
    height: 24px;
    width: 24px;
    display: block;
  }

  &--square {
    height: var(--header-height);
    width: var(--header-height);
    border-radius: 20px;
    box-shadow: none;

    svg {
      display: none;
    }
  }

  &--rounded {
    padding: 1rem;
  }

  &--small {
    padding: 0.5rem 0.8rem;
    font-size: 0.75rem;
    gap: var(--XS-spacer);
  }

  &--chosen {
    background: var(--color-blue-dark);
  }

  &[disabled] {
    background: var(--color-blue-light);
    cursor: default;
  }

  &--inline {
    background-color: transparent;
    padding: 0;
    border-radius: none;
    color: var(--color-blue);

    &:hover {
      background-color: transparent;
      color: var(--color-blue-darker);
    }
  }

  &--clean {
    background-color: transparent;
    padding: 0;
    border-radius: none;
    color: var(--color-black);
    &:hover {
      color: var(--color-blue);
      background-color: transparent;
    }
    svg {
      display: none;
    }
  }
  &--left {
    &-1 {
      margin: var(--S-spacer);
    }
  }
}
