.page {
  align-items: baseline;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  margin: auto;
  // max-width: 750px;

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5.5rem;

    align-items: center;
    padding: 1rem;
    margin: auto;
    // max-width: 750px;

    section {
      &:first-of-type {
        align-self: self-start;

        article {
          animation-name: gentle-appear;
          animation-duration: 2s;
          animation-delay: 0.4s;
          animation-fill-mode: backwards;

          p {
            max-width: 100%;
            margin: 2em 0;
          }
        }
      }

      &:last-of-type {
        animation-name: gentle-appear-reverse;
        animation-duration: 2s;
        animation-delay: 0.8s;
        animation-fill-mode: backwards;
      }
    }
  }
}

@keyframes gentle-appear {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes gentle-appear-reverse {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
