$transition-speed: 200ms;

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.875em;
  height: 100%;

  color: var(--color-black);

  &__list {
    position: fixed;
    top: var(--header-height);
    font-size: clamp(0.6rem, 5vw, 0.75em);
    right: -100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 2.5em;
    transition: all $transition-speed;
    width: calc(100% - calc(var(--page-padding) * 2));
    background-color: white;
    border-radius: var(--border-radius);
    &-langbutton {
      margin-left: auto;
    }
    @media screen and (max-width: 48em) {
      &--active {
        right: var(--page-padding);
        bottom: 0;
      }
    }
    &-item {
      display: flex;
      align-items: center;
      font-size: 1.5em;
      color: inherit;
      cursor: pointer;
      height: 100%;

      &--active {
        color: #005353;
        font-weight: 700;
      }
    }
  }

  &:has(.nav__list--active) &__toggle {
    span {
      transition: all $transition-speed cubic-bezier(0.4, 0.01, 0.165, 0.99);

      &:first-of-type {
        transform: translateY(4px) rotate(45deg);
      }

      &:last-of-type {
        transform: translateY(3px) rotate(-45deg);
      }
    }
  }

  &__toggle {
    cursor: pointer;
    background: transparent;
    border: none;
    height: 52px;
    width: 52px;
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    z-index: 1;
    filter: invert(1);

    span {
      display: block;
      width: 100%;
      height: 2px;
      background: var(--color-white);
      transition: all $transition-speed cubic-bezier(0.4, 0.01, 0.165, 0.99);

      &:first-of-type {
        transform: translateY(0px) rotate(0deg);
      }

      &:last-of-type {
        transform: translateY(6px) rotate(0deg);
      }
    }
  }

  @media screen and (min-width: 48em) {
    gap: 1.5rem;

    &__toggle {
      display: none;
    }

    &__list {
      position: unset;
      display: flex;
      flex-direction: row;
      width: auto;
      height: 100%;
      margin-left: 2em;
    }
  }
}

@media screen and (min-width: 48em) {
  .nav {
    width: 100%;
    justify-content: space-between;
  }
}
