$transition-speed: 200ms;

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9em;
  height: 100%;
  color: black;

  &__list {
    position: fixed;
    top: 52px;
    right: -100%;
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    transition: all $transition-speed;

    @media screen and (max-width: 48em) {
      &--active {
        right: 0;
        background-color: #ffffff5c;
        backdrop-filter: blur(9px);
      }
    }

    &-item {
      display: flex;
      align-items: center;
      justify-content: center;
      // padding: 1em;
      // min-width: 1.5em;
      font-size: 1.2em;
      color: inherit;
      cursor: pointer;
      height: 100%;
      border-bottom: 5px solid transparent;

      &--active {
        color: #7aa556;
        border-bottom: 5px solid #7aa556;
      }
    }
  }

  &:has(.nav__list--active) &__toggle {
    span {
      transition: all $transition-speed cubic-bezier(0.4, 0.01, 0.165, 0.99);

      &:first-of-type {
        transform: translateY(4px) rotate(45deg);
      }

      &:last-of-type {
        transform: translateY(3px) rotate(-45deg);
      }
    }
  }

  &__toggle {
    cursor: pointer;
    background: var(--color-green);
    border: none;
    margin: 0 auto;
    height: var(--header-height);
    width: var(--header-height);
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    z-index: 1;

    span {
      display: block;
      width: 100%;
      height: 2px;
      background: var(--color-white);
      transition: all $transition-speed cubic-bezier(0.4, 0.01, 0.165, 0.99);

      &:first-of-type {
        transform: translateY(0px) rotate(0deg);
      }

      &:last-of-type {
        transform: translateY(6px) rotate(0deg);
      }
    }
  }

  @media screen and (min-width: 48em) {
    gap: 1.5rem;

    &__toggle {
      display: none;
    }

    &__list {
      position: unset;
      display: flex;
      flex-direction: row;
      width: auto;
      height: 100%;
    }
  }
}
