.label {
    display: flex;
    align-items: center;
    gap: var(--S-spacer);
    background-color: #ccc;
    padding: 2px var(--XS-spacer);
    border-radius: 4px;

    &--icon {
        aspect-ratio: 1/1;
        width: .8em;
    }
}