.filterWindow {
	position: fixed;
	visibility: hidden;
	top: 0%;
	left: 50%;
	transform: translate(-50%, -50%);
	// padding-top: 20vh;
	background-color: var(--background-light);

	height: 100vh;
	width: 100vw;
	z-index: 1;
	overflow: overlay;
	overflow-y: auto;

	transition: all 0.8s ease-in;

	&[aria-collapsed='false'] {
		visibility: visible;
		position: fixed;
		top: 60%;
		left: 50%;
		transform: translate(-50%, -50%);
		transition: all 0.8s linear;
	}
	&__list {
		display: flex;
		gap: var(--S-spacer);
		text-align: center;
		flex-wrap: wrap;
		justify-content: space-evenly;
		padding: var(--M-spacer);
	}

	&__result {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: var(--S-spacer);

		background-color: var(--color-black);
		margin-top: auto;
		margin: 0 auto;
		padding: var(--M-spacer);
		width: 100%;

		position: fixed;
		bottom: auto;
		right: 0px;
	}

	@media (max-width: 768px) {
		&__list {
			justify-content: start;
		}
	}
}
