.detailpage {
    background-color: var(--color-white);

    &__section {
        width: 100%;
        
        details {
            border-bottom: 1px solid var(--color-black);

            &:first-of-type {
                border-top: 1px solid var(--color-black);
            }
        }
    }
}
