.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--header-inner);
  width: calc(100% - calc(var(--page-padding) * 2));
  left: var(--page-padding);
  z-index: 10;
  // background-color: var(--color-white);
  background-color: white;
  scroll-snap-align: start;
  top: var(--header-offset);
  border-radius: 100px;
  margin-top: var(--header-offset);
  font-size: .875em;
  position: sticky;
  &__links {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-right: 1.5em;
  }
  
  &__logo {
    width: auto;
    height: 90%;
    display: block;
    padding: 0.5rem 0 0.5rem 1.5rem;
    filter: invert(1);

    &_link {
      height: 100%;
    }
  }
}

@media screen and (min-width: 48em) {
  .header {
    &__links {
      justify-content: center;
    }
  }
}