.header {
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--header-height);
  width: 100%;
  z-index: 10;
  background-color: var(--color-green);

  &__logo {
    width: auto;
    height: 100%;
    display: block;
    padding: 0.5rem;

    &_link {
      height: 100%;
    }
  }
}
