.filter {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	height: 4em;
	margin-bottom: calc(var(--M-spacer) + 1vh);
	z-index: 5;

	&__header {
		display: flex;
		flex-wrap: wrap;
		align-items: end;
		gap: var(--S-spacer) 0;
		justify-content: space-between;
		background-color: var(--background-light);
		box-shadow: 0 0 0.1rem 0 rgba(0, 0, 0, 0.1);
		margin-bottom: 1rem;
		margin-bottom: 1.875rem;
		z-index: 5;
		font-size: clamp(12px, 2em, 0.75vw);
	}

	&--index {
		display: flex;
		align-items: center;
	}

	&__search {
		flex: 1;
		flex-basis: 25em;
		display: flex;
		align-items: center;
		gap: var(--S-Spacer);
		padding-bottom: 0.3rem;
		border-bottom: 2px solid var(--color-black);

		&--input {
			padding: 0.5rem 1rem;
			background: none;
			border: none;
		}
	}

	&__meta {
		display: flex;
		flex: 1;
		flex-basis: 22em;
		align-items: center;
		justify-content: flex-end;
		gap: var(--S-spacer);
		padding: 0.3rem 0;
		border-bottom: 2px solid var(--color-black);
		width: 100%;
		font-size: clamp(12px, 2em, 0.75vw);
		color: #ccc;

		&--black {
			color: var(--color-black);
		}
	}
	&--btn {
		display: flex;
		align-items: center;
		background: none;
		border: none;
		color: var(--color-black);
		gap: var(--XS-spacer);
		cursor: pointer;
	}
}
