$prim-color: #64ff00;

.title {
  color: var(--header-color);
  // font-family: GT-Flexa, sans-serif;

  &--h1 {
    // text-transform: uppercase;
    font-weight: bolder;
    font-size: 1.5em;
  }

  &--h2 {
    padding-bottom: var(--XXS-spacer);

    font-weight: bolder;
    font-size: 2em;
  }

  &--h3 {
    font-weight: normal;
    font-size: 1.25em;

    color: var(--primary-text-color);
  }

  &--h4 {
    font-size: 1em;
    color: font;
  }

  &--h5 {
    color: darkslategray;
  }

  &--card-size {
    font-weight: 400;
    font-size: 0.875em;
  }

  &--red {
    color: red;
  }

  &--gentle-appear {
    animation-name: gentle-appear;
    animation-duration: 2s;
  }
}

@keyframes gentle-appear {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

:export {
  primColor: $prim-color;
}
