.contact {
    height: 100vh;
    background-color: rgb(229, 229, 229);
    display: flex;
    flex-direction: row;
    input[type="text"] {
        height: 32px;
    }
    &__image {
        height: 100%;
        width: auto;
    }
    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        &-contactform {
            width: 32em;
            display: flex;
            flex-direction: column;
            gap: 1em;
            form {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 1em;
                textarea {
                    height: 100px;
                }
                button {
                    max-width: 150px;
                }
            }
            &-names {
                display: flex;
                flex-direction: row;
                gap: 1em;
                input {
                    width: 100%;
                }
            }
        }
    } 
}

@media(max-width: 550px) {
    .contact {
        input[type="text"] {
            width: 450px;
        }
        &__container {
            &-contactform {
                align-items: center;
                form {
                    align-items: center;
                    textarea {
                        width: 450px;
                    }
                    button {
                        max-width: 150px;
                    }
                }
                article {
                    width: 450px;
                }
                &-names {
                    display: flex;
                    flex-direction: column;
                    gap: 1em;
                    input {
                        width: 100%;
                    }
                }
            }
        } 
    } 
}

@media(max-width: 880px) {
    .contact {
        &__image {
            display: none;
        }
    }
}
