.overview {
	padding: var(--L-spacer);

	&__plants {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
		grid-gap: var(--M-spacer);
		margin: 0 auto;

		@media (min-width: 900px) {
			grid-template-columns: repeat(3, minmax(240px, 1fr));
		}
	}

	&__meta {
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-size: 0.75rem;
		margin-bottom: var(--M-spacer);

		color: var(--color-black);

		span {
			font-weight: 700;
		}
	}
}
