// style={{
//     position: 'fixed',
//     top: 0,
//     left: 0,
//     height: '4px',
//     backgroundColor: '#f00',
//     width: `${scrollPercent}%`,
//     transition: 'width 0.2s',
//     zIndex: 9999,
//   }}

.scrollindicator {
    position: fixed;
    height: 20px;
    left: 0;
    top: 0;
    background-color: #00ffff;
    transition: 'width 0.7s';
    z-index: 9999;
        
}