.swapflow {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  max-width: 500px;
  margin: auto;

  &__title {
    margin-bottom: 1rem;
    width: 100%;
    max-width: 290px;
  }

  &__surtitle {
    order: -1;
    margin-top: 2rem;
    width: 100%;
  }

  &__return {
    order: -1;
  }

  &__description {
    max-width: 27.5em;
    margin-bottom: 2rem;
  }

  &__step {
    font-weight: bold;
  }
}
