.watercount {
  width: 100px;
  fill: var(--color-blue);
  border: 1px solid var(--color-blue-lighter);
  padding: 0.75rem 1rem;
  border-radius: 40px;
  overflow: visible;

  &__path {
    fill: var(--color-blue-lighter);

    &--active {
      fill: var(--color-blue);
    }
  }
}
