.formfield {
  display: flex;
  flex-wrap: wrap;

  &__fingers {
    border: none;
    width: 100%;

    &-label {
      color: var(--color-green-light);
      &:has(input:checked) {
        color: var(--color-green);
      }
    }
    // display: flex;

    &-controls {
      gap: var(--M-spacer);
      display: flex;
      align-items: baseline;
    }
  }

  &__label {
    display: grid;
    font-size: 14px;
    font-weight: 700;
    color: var(--primary-text-color);
    width: 100%;
  }

  &__description {
    font-size: 12px;
    width: 100%;
    color: var(--quaternary-text-color);
  }

  &__error {
    font-size: 12px;
    width: 100%;
    font-style: italic;
    color: red;
    // color: var(--quaternary-text-color);
  }
  select {
    background: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="24" height="24" viewBox="0 0 24 24"%3E%3Cg transform="rotate(180 12 12)"%3E%3Cpath fill="currentColor" fill-rule="evenodd" d="M11.512 8.43a.75.75 0 0 1 .976 0l7 6a.75.75 0 1 1-.976 1.14L12 9.987l-6.512 5.581a.75.75 0 1 1-.976-1.138l7-6Z" clip-rule="evenodd"%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E')
        no-repeat,
      var(--color-white);
    background-position: calc(100% - 0.75rem) center !important;
    -moz-appearance: none !important;
    -webkit-appearance: none !important;
    appearance: none !important;
    padding-right: 2rem !important;
  }
  &__control {
    padding: var(--S-spacer);
    width: 100%;
    flex: 1;
    border: 1px solid var(--wireframe-btn-background-color);
    border-radius: var(--border-radius);
    font-size: 14px;
    font-family: inherit;
    color: var(--primary-text-color);
    background-color: var(--color-white);

    &-hidden {
      appearance: none;
      display: none;
    }

    &--display {
      width: 100px;
      fill: var(--color-blue-dark);
    }

    &[type="number"] {
      flex: 0.5;
      text-align: center;
      min-width: 0;
      max-width: 3.5rem;
    }

    &::-webkit-calendar-picker-indicator {
      filter: invert(1);
    }

    &:invalid {
      // border-color: var(--color-red);
      border-color: red;
    }

    &_chip {
      padding: 0.5rem 1rem;
      display: inline-block;
      border: var(--color-grey) 1px solid;
      border-radius: var(--border-radius);
      color: var(--primary-text-color);
      // align-items: center;
      // justify-content: center;

      &:has(input:checked) {
        background-color: var(--color-blue);
        color: var(--color-white);
      }

      input {
        appearance: none;
      }
    }

    &_group {
      display: flex;
      align-items: center;
      width: 100%;
      gap: var(--M-spacer);
    }
  }
}

// .form {
//   &__label {
//     display: grid;
//     padding-bottom: var(--XS-spacer);

//     font-size: 14px;
//     font-weight: 700;
//     color: var(--primary-text-color);
//   }

//   &__select,
//   &__input_text {
//     padding: var(--S-spacer);
//     // height: 56px;
//     width: 100%;
//     border: 1px solid var(--wireframe-btn-background-color);
//     border-radius: var(--border-radius);

//     color: var(--primary-text-color);
//     background-color: var(--color-white);
//   }

//   &__description {
//     padding-bottom: var(--S-spacer);

//     font-size: 14px;
//     font-style: italic;
//     color: var(--quaternary-text-color);
//   }

//   &__wrapper {
//     padding-bottom: var(--M-spacer);
//     display: grid;
//   }

//   &__sub_wrapper {
//     display: none;
//   }

//   &__input_text {
//     padding: var(--S-spacer);

//     // height: 56px;
//     border: 1px solid var(--wireframe-btn-background-color);
//     border-radius: var(--border-radius);

//     color: var(--primary-text-color);
//     background-color: var(--color-white);
//   }

//   &__invalid {
//     span {
//       color: var(--color-red);

//       &::before {
//         content: "⚠ ";
//         margin-right: 0.1em;
//       }
//     }

//     input {
//       border: 1px solid var(--color-red);
//     }
//   }
// }
