.swapflowreturn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  height: 3rem;

  width: 100%;
  color: var(--text-color);
  font-weight: bold;

  &__click {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
  }

  &__icon {
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--button-color);
    border-radius: 50%;
  }

  &__text {
    font-size: 0.875rem;
  }

  svg {
    height: 1rem;
    width: 1rem;
    color: var(--color-white);
  }
}
