.tooltip {
    $tooltip-description-max-width: 19rem;

    $tooltip-border-radius: var(--border-radius);
    $tooltip-background-color: var(--color-white);

    width: 25rem;

    border-radius: $tooltip-border-radius;

    background-color: $tooltip-background-color;

    &__content_wrapper {
        padding: var(--S-spacer);

        display: flex;

        gap: var(--M-spacer);

        width: 100%;
        height: 100%;
    }

    &__icon {
        position: relative;

        display: grid;

        place-content: center;

        width: 2rem;
        height: 2rem;

        border: 1px solid var(--color-black);
        border-radius: 99px;
    }

    &__icon::before {
        content:"i";

        color: var(--color-black);
    }

    &__description {
        max-width: $tooltip-description-max-width;
    }
}