.plant {
  display: flex;
  flex-direction: column;
  background-color: var(--color-white);
  padding: var(--S-spacer);
  border-radius: 4px;
  transition: var(--transition-settings);

  &:hover {
    background-color: var(--color-blue);
  }

  &__header {
    display: flex;
    align-items: center;
    gap: var(--XS-spacer);
  }

  &__image {
    aspect-ratio: 1/1;
    object-fit: cover;
    width: 70%;
    height: auto;
    margin: var(--M-spacer) auto;
    border-radius: 0.5em;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }
  
  &__icons {
    display: flex;
    flex: 1;
    gap: var(--S-spacer);
    align-items: center;
    width: 100%;
  }

  &__info {
    &--name {
      font-size: clamp(14px, 4vw, 18px);
      font-weight: 800;
      word-break: break-word;
    }
  }

  &__meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    // color: var(--quaternary-text-color);

    &-link {
      display: flex;
      align-items: center;
      gap: var(--XXS-spacer);
      color: var(--color-black);
      font-size: 0.875rem;
    }
  }
}
