$detailpageheader-background-color: var(--plant-based-background-color);

.detailpageheader {
  width: 100%;
  height: 100%;
  background-color: transparent;
  transition: var(--transition-settings);
  padding: calc(var(--page-padding) * 2) var(--page-padding) var(--page-padding);

  @media screen and (min-width: 70em) {
    padding: calc(var(--page-padding) * 1) calc(var(--page-padding) / 2)
      var(--page-padding) var(--page-padding);
  }

  &__content_wrapper {
    height: 100%;

    // padding: var(--page-padding) var(--page-padding);
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  &__subtitle {
    margin-bottom: var(--XS-spacer);

    font-weight: 500;
  }

  @media screen and (min-width: 35em) {
    &__title {
      order: -2;
    }
    &__subtitle {
      order: -1;
    }
  }
}
