$detailpageheader-background-color: var(--plant-based-background-color);

.detailpageheader {
    margin-bottom: var(--M-spacer);

    display: grid;

    place-items: center;

    width: 100%;
    height: 90dvh;

    background-color: $detailpageheader-background-color;

    &__content_wrapper {
        padding: 0 var(--L-spacer);

        width: 100%;
    }  

    &__subtitle {
        margin-bottom: var(--XS-spacer);

        font-weight: 500;
    } 
}