.results {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  animation: fadeIn 200ms ease-in-out forwards;
  transform: translateY(100%);
}

@keyframes fadeIn {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}

.result {
  display: grid;
  grid-template-columns: 2fr 4fr 3fr;
  width: 100%;
  border-radius: var(--border-radius);
  color: var(--text-color);
  background-color: var(--color-white);

  &__grade {
    font-size: 14px;
    font-weight: 400;
    grid-row: 1;
    grid-column: 3;
    margin: 10px;
  }

  &__name {
    grid-column: 2;
    grid-row: 1;
    font-weight: 700;
    margin: 10px;
  }

  &__latin {
    color: var(--color-black);
    font-weight: 400;
    font-size: 16px;
    grid-column: 2;
    grid-row: 2;
    margin: 10px;
  }

  &__btn {
    height: 40px; 
    width: 140px;
    background-color: #bebebe;
    border-radius: 20px;
    grid-column: 3;
    grid-row: 2;
    align-self: end;
    text-align: center;
    margin: 20px 0;
  }
  &__img {
    grid-column: 1; 
    grid-row:  span 3;
    width: 7em;
    height: 7em;
    border-radius: var(--border-radius);
    margin: 10px;
  }
}
