.cta {
  background-color: var(--color-orange);
  box-shadow: 0px 4px 4px var(--shadow);
  padding: 12px 22px;
  border-radius: 30px;
  border: none;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.4;
  cursor: pointer;
  display: inline-block;

  &:hover {
    text-decoration: underline;
  }

  &--primary {
    background-color: var(--color-orange);
    color: var(--color-white);
  }

  &--secondary {
    background-color: var(--color-green);
    color: var(--color-white);
  }
}
