
$XS-spacer: 4px;
$S-spacer: 8px;
$M-spacer: 16px;
$L-spacer: 24px;
$XL-spacer: 32px;

$legend-font-size: 24px;

$label-font-size: 14px;
$label-description-font-size: 12px;

$input-height: 56px;

$primary-font-family: times;

$primary-text-color: #212121;
$secondary-text-color: #ffffff;
$tertiary-text-color: #777777;

$wireframe-input-border-color: #C4C4C4;

.form {
    padding: 1rem;

    display: grid;

    width: 100%;
    height: 100%;

    background-color: var(--wireframe-background-color);

  &__fieldset {
    padding-bottom: $L-spacer;

    display: grid;
    grid-row-gap: $M-spacer;

    border: none;

    width: 100%;
  }

  &__legend {
    padding-bottom: $L-spacer;

    font-family: $primary-font-family;
    font-size: $legend-font-size;

    color: var(--primary-text-color);
  }

  &__legend span {
    padding-right: $S-spacer;
  }

  &__input_group {
    padding-bottom: $M-spacer;

    display: grid;
  }

  &__input_sub_group {
    display: none;
  }

  &__label {
    padding-bottom: $XS-spacer;

    display: grid;

    font-family: $primary-font-family;
    font-size: $label-font-size;

    color: var(--primary-text-color);
  }

  &__label_description {
    padding-bottom: $S-spacer;

    font-size: $label-description-font-size;

    color: var(--tertiary-text-color);
  }

  &__input_text {
    padding: $S-spacer;

    height: $input-height;

    border: 1px solid $wireframe-input-border-color;
    border-radius: var(--border-radius);

    color: var(--primary-text-color);
    background-color: white;
  }

  &__input_select {
    color: black;
    background-color: white;
  }

  &__input_checkbox_wrapper {
    padding-bottom: $XL-spacer;
  }

  &__input_checkbox_label {
    position: relative;

    padding-left: calc(1rem + #{$S-spacer});
    
    display: grid;
    align-items: center;

    font-size: 12px;

    color: var(--primary-text-color);

    width: 100%;
    height: 1rem;
  }

  &__input_checkbox_label::before {
    content: "";

    position: absolute;
    inset: 0;

    display: grid;
    place-content: center;

    width: 1rem;
    height: 1rem;

    border: 1px solid $wireframe-input-border-color;
    border-radius: 4px;

    background-color: #fff;
  }

  &__input_checkbox {
    display: none;
  }

  &__input_checkbox:checked + &__input_checkbox_label::before {
    content: "✔";
  }

  &.form:has(&__input_checkbox:checked) &__input_sub_group {
    display: grid;
  }


  &__input_select {
    padding: $S-spacer;

    height: $input-height;

    border: 1px solid $wireframe-input-border-color;
    border-radius: var(--border-radius);
  }

  &__input_water_interval_group {
    display: flex;
    
    align-items: center;
    justify-content: space-between;

    color: black;

    input[type="text"] {
      flex: 0.5;

      text-align: center;

      min-width: 0;
      max-width: 3.5rem;
    }

    span {
      flex: 1;

      text-align: center;
    }

    select {
      flex: 2;
    }
  }

  &__submit_button {
    cursor: pointer;

    justify-self: end;

    padding: 1rem 2rem;

    border: none;
    border-radius: var(--pill-border-radius);

    background-color: var(--wireframe-btn-background-color);
  }

  &__submit_button.active {
    cursor: pointer;

    justify-self: end;

    padding: 1rem 2rem;

    border: none;
    border-radius: var(--pill-border-radius);

    background-color: black;
  }
}
